@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: Poppins, sans-serif;
    scroll-behavior: smooth;
}

:root {
    --black-color: #1e1c1c;
    --white-color: #ffffff;
    --orange-color: #ea6a12;
    --gray-color: #959895;
}


.notification {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--orange-color);
    color: #fff;
    padding: 1rem 2rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.notification.show {
    opacity: 1;
}

.navbarFixed {
    position: fixed;
    top: 4.1rem;
    left: 0;
    height: 100vh;
    z-index: 999;
    width: 5rem;
    background-color: var(--white-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;

    a {
        position: relative;

        i {
            padding: 14px .5rem;
            color: var(--white-color);
            background-color: var(--orange-color);
            border-radius: 25rem;
            width: 3rem;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: .5rem;
            transition: 200ms all;
            border: 2px solid var(--orange-color);
        }

        p {
            background-color: #ef9356b9;
            color: var(--white-color);
            padding: .2rem 1rem;
            font-size: .7rem;
            position: absolute;
            top: .75rem;
            right: -2.3rem;
            border: none;
            border-radius: 1rem;
            transition: 200ms all;
            opacity: 0;
            z-index: -1;
        }

        &:hover {
            i {
                transform: scale(1.1);
            }

            p {
                opacity: 1;
                right: -4.5rem;
                z-index: unset;
            }

        }
    }
}

@media (max-width:500px) {
    .navbarFixed {
        width: 4rem;
    }
}

.cartFixed {
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    z-index: 9999;
    height: 100vh;
    transition: 200ms all;
    display: none;
    background-color: var(--white-color);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    .head {
        display: flex;
        padding: 2rem 2rem 0rem 1rem;
        justify-content: space-between;
        align-items: center;

        h1 {
            font-size: 1.5rem;
            color: var(--black-color);
        }

        i {
            font-size: 1.3rem;
            cursor: pointer;
            transition: 200ms all;

            &:hover {
                transform: rotate(45deg);
            }
        }

    }

    #divider {
        background-color: #e9ecef;
        height: 1px;
        width: 100%;
        margin-top: 0;
        margin: 1rem;
        margin-bottom: 1.5rem;
    }

    .cart {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 23rem;
        margin: auto;
        background-color: #fff5ee;
        padding: 1rem;
        border-radius: 10px;
        border: none;
        gap: 1rem;
        margin-bottom: .7rem;

        img {
            height: 6rem;
        }

        .counter {
            display: flex;
            flex-direction: column;
            gap: .5rem;

            span {
                display: flex;
                gap: 1rem;
                justify-content: center;
                align-items: center;

                i {
                    background-color: var(--orange-color);
                    color: var(--white-color);
                    padding: .3rem .5rem;
                    cursor: pointer;
                    border-radius: .3rem;
                    border: none;

                }
            }
        }

        .delete {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: .5rem;
            cursor: pointer;

            i {
                color: #E60A0A;
                font-size: 1.1rem;
            }

            p {
                color: var(--black-color);
            }
        }

    }
}

.mainContainer {
    width: 100%;
    background-color: #fbf6f3;
}

.container {
    background-color: #fbf6f3;
    padding-left: 5rem;
    padding-top: 4.7rem;
    z-index: -999;
    max-width: 100vw;
    width: 100%;

}

@media (max-width:500px) {
    .container {
        padding-left: 4rem;
    }
}

nav {
    background-color: var(--white-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4.7rem;
    padding: 0 3rem 0 3rem;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99;
    width: 100%;
    z-index: 999;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    .navInput {
        display: flex;
        align-items: center;
        gap: 2rem;
        width: 100%;

        h1 {
            background-color: #f8cfb3;
            padding: .4rem 2.5rem;
            font-size: 1rem;
            color: var(--black-color);
            border-radius: 25rem;
            font-weight: 500;
        }

        .input {
            border: 1px solid #e9ecef;
            display: inline-flex;
            align-items: center;
            border-radius: 25rem;
            max-width: 25rem;
            width: 100%;

            input {
                padding: .5rem .7rem;
                border: none;

                &::placeholder {
                    color: var(--gray-color);
                }
            }

            i {
                padding-left: .9rem;
                color: var(--gray-color);
            }
        }
    }

    @media (max-width:500px) {
        .navInput {

            h1 {
                background-color: #f8cfb3;
                padding: .2rem 2rem;
                font-size: .8rem;
            }

            .input {
                display: none;
            }
        }
    }

    .right {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        padding-left: 1rem;

        i {
            color: var(--orange-color);
            font-size: 1.5rem;
            padding-right: 2rem;
            cursor: pointer;
            transition: 200ms all;
            position: relative;
            opacity: 0;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}



.menu {
    padding: 5vw 3vw;
    margin: auto;
    max-width: 80rem;
    width: 100%;

    .head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 2.5rem;

        h1 {
            font-size: 1.8rem;
            font-weight: 600;
            color: var(--black-color);
        }

        .categoryButtons {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            align-items: center;
            gap: .7rem;

            button {
                width: 6rem;
                background-color: var(--orange-color);
                color: var(--white-color);
                padding: .5rem 1rem;
                border: 2px solid var(--orange-color);
                border-radius: 1rem;
                transition: 200ms all;

                &:hover {
                    background-color: transparent;
                    color: var(--orange-color);
                }
            }
        }
    }

    @media (max-width:500px) {
        .head {
            flex-direction: column;

            h1 {
                padding-top: 2rem;
                padding-bottom: 1rem;
                font-size: 1.2rem;
            }
        }
    }

    .cardSection {
        padding-top: 10rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 1.7rem;


        .cart {
            margin-bottom: 6rem;
            display: flex;
            width: 251px;
            flex-direction: column;
            gap: 2rem;
            padding: 0 1.5rem 1.5rem 1.5rem;
            border-radius: 1rem;
            border: none;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            transition: 200ms all;

            img {
                width: 170px;
                margin: auto;
                margin-top: -4rem;
            }

            .counter {
                p {
                    font-size: 1.1rem;
                    padding-bottom: 1rem;
                    color: var(--orange-color);
                    font-weight: 500;
                }

                span {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 1rem;

                    i {

                        background-color: var(--orange-color);
                        color: var(--white-color);
                        padding: .6rem;
                        border-radius: 10px;
                        cursor: pointer;

                    }

                    p {
                        font-size: 1rem;
                        padding-bottom: unset;
                    }
                }
            }

            .delete {
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;
                align-items: center;
                flex-direction: column-reverse;

                i {
                    background-color: var(--orange-color);
                    color: var(--white-color);
                    padding: .6rem 2rem;
                    border-radius: 10px;
                    cursor: pointer;
                }

                p {
                    font-size: medium;
                    font-weight: 400;
                    color: var(--black-color);
                    padding-bottom: .7rem;
                }
            }
        }


        .cart.completed {
            background-color: #d3ffd3;
        }
    }

    @media (max-width:500px) {
        .cardSection {
            padding-top: 4rem;

            .cart {
                margin-bottom: 4rem;
            }
        }
    }

    #totalPrice {
        font-size: 1.1rem;
    }
}

@media (max-width:500px) {
    .menu {
        padding: 1rem 1rem 5rem 1rem;
    }
}