@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: Poppins, sans-serif;
    scroll-behavior: smooth;
}

:root {
    --black-color: #1e1c1c;
    --white-color: #ffffff;
    --orange-color: #ea6a12;
    --gray-color: #959895;
}



.navbarFixed {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    width: 5rem;
    background-color: var(--white-color);
    display: flex;
    flex-direction: column;
    align-items: center;

    #divider {
        background-color: #e9ecef;
        height: 1px;
        width: 100%;
        margin: .5rem 0;
    }

    h1 {
        background-color: #f8cfb3;
        padding: .1rem 1rem;
        color: var(--black-color);
        border-radius: 25rem;
        margin-top: 1rem;
    }

    i {
        padding: 1rem .5rem;
        color: var(--white-color);
        background-color: var(--orange-color);
        border-radius: 25rem;
        width: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: .5rem;
    }
}

.container {
    background-color: #fbf6f3;
    width: 100%;
    padding-left: 5rem;
    z-index: -999;
}

nav {
    background-color: var(--white-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    padding: 0 2rem;

    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    .input {
        border: 1px solid #e9ecef;
        display: inline-flex;
        align-items: center;
        border-radius: 25rem;
        max-width: 25rem;
        width: 100%;

        input {
            padding: .5rem .7rem;
            border: none;

            &::placeholder {
                color: var(--gray-color);
            }
        }

        i {
            padding-left: .9rem;
            color: var(--gray-color);
        }
    }

    .right {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        i {
            color: var(--orange-color);
            font-size: 1.3rem;
            cursor: pointer;
        }

        .person {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            padding-left: 1rem;

            i {
                color: var(--white-color);
                background-color: var(--orange-color);
                padding: .8rem;
                font-size: 1rem;
                border-radius: 50%;
            }

            span {
                p {
                    font-size: .9rem;
                }
            }
        }
    }
}

.banner {
    background-size: cover;
    min-height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    overflow: hidden;

    img {
        position: absolute;
        width: 100%;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        border-radius: 1rem;
    }

    .content {
        z-index: 9;
        padding: 5vw 3vw;

        h4 {
            font-size: .9rem;
            color: var(--orange-color);
            font-weight: 400;
            z-index: 1;
        }

        h1 {
            font-size: 2rem;
            z-index: 1;
            padding: 1rem 0 .5rem 0;
            color: var(--black-color);
        }

        p {
            color: var(--gray-color);
            z-index: 1;
            padding-bottom: .5rem;

            span {
                color: var(--orange-color);
            }
        }
    }

    button {
        background-color: var(--orange-color);
        padding: .7rem 2rem;
        color: var(--white-color);
        z-index: 2;
        cursor: pointer;
        border: none;
        border-radius: 25rem;
    }
}

.menu {
    padding: 5vw 3vw;

    .head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 2.5rem;

        h1 {
            font-size: 1.8rem;
            color: var(--black-color);
        }

        span {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: .5rem;

            p {
                color: var(--black-color);
            }

            i {
                background-color: var(--orange-color);
                color: var(--white-color);
                width: 1.3rem;
                font-size: .9rem;
                height: 1.3rem;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                border: none;
            }
        }
    }

    .category {
        display: flex;
        align-items: center;
        gap: 1.5rem;

        .items {
            display: flex;
            flex-direction: column;
            gap: .8rem;
            justify-content: center;
            align-items: center;
            width: 112px;
            min-height: 220px;
            background-color: #ef9456;
            border: none;
            border-radius: 7px;
            padding: 1rem;
            cursor: pointer;
            transition: 200ms all;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

            &:nth-child(2) {
                background-color: #ffffff;

                #divider {
                    background-color: var(--orange-color);
                }

                i {
                    background-color: var(--orange-color);
                    color: var(--white-color);
                }
            }

            &:hover {
                background-color: var(--orange-color);
            }

            img {}

            p {}

            #divider {
                background-color: #efe9e9;
                height: 1px;
                width: 100%;
                margin: .5rem 0;
            }

            i {
                background-color: var(--white-color);
                color: var(--orange-color);
                width: 1.3rem;
                height: 1.3rem;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 25rem;
                padding: .3rem;
                border: none;
            }
        }
    }

    .cardSection {
        padding-top: 10rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 1.7rem;

        .card {
            margin-bottom: 6rem;
            display: flex;
            justify-content: center;
            width: 251px;
            cursor: pointer;
            flex-direction: column;
            gap: .7rem;
            padding: 0 1.5rem 1.5rem 1.5rem;
            border-radius: 1rem;
            border: none;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            transition: 200ms all;


            &:nth-child(3) {
                background-color: #ef9456;

                p,
                .star,
                .price p {
                    color: #fff;
                }
            }

            &:hover {
                background-color: var(--orange-color);

                p,
                .star,
                .price p {
                    color: var(--white-color);
                }

                .price {
                    i {
                        background-color: var(--white-color);
                        color: var(--orange-color);
                    }
                }
            }

            div {
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: 170px;
                    margin-top: -4rem;
                    padding-bottom: 1.5rem;
                }

            }

            p {
                font-size: medium;
                font-weight: bold;
                color: var(--orange-color);
            }

            .star {
                justify-content: unset;
                color: var(--orange-color);
            }

            .price {
                padding-top: 1rem;
                display: flex;
                justify-content: space-between;
                align-items: center;

                p {
                    font-weight: unset;
                    color: var(--black-color);
                }

                i {
                    background-color: var(--orange-color);
                    padding: .6rem;
                    border-radius: 50%;
                    border: none;
                    color: var(--white-color);
                }
            }
        }
    }
}